<title>Search by keyword</title>

<div class="page-heading">
  <h1>Search by keyword</h1>
</div>

<div id="maincontent">

  <div class="profile-page-section">
    <form action="/service_users/keyword_search" method="POST">
      <input type="hidden" value="<%=@service_user.id()%>" name="service_user_id">
      <input id="bigger-input" name="query" type="search" size="100" placeholder="search workers"/>
      <input type="submit" value="SEARCH">
    </form>
  </div>

  <div class="profile-page-section">
    <div class="options">
      <div class="greyButtonSmall"><ul>
        <% if @found_workers %>
          <% for worker in @found_workers%>
          <li><a href="/workers/view?worker_id=<%=worker.id()%>&service_user_id=<%=@service_user.id()%>">
            <%= worker.get_info()%></a></li>
            <li>you can afford <%=worker.hours_afforded(@service_user)%> hours</li>
            <% end %>
            <% if @found_workers.empty?%>
            <p>No results found.</p>
            <% end %>
            <% end %>
            <li><a href="/service_users/show_search_options?service_user_id=<%=@service_user.id()%>">Back to search options</a></li>
          </ul>
        </div></div>
      </div>

    </div>
