<title>Account Details</title>

<div class="page-heading">
<h1>Account details for <%= @service_user.name() %></h1>
</div>

<h2>Weekly Budget: £<%=@service_user.available_budget()%>/£<%= @service_user.weekly_budget() %>used</h2>


<div id="progress-bar" class="all-rounded">
    <div id="progress-bar-percentage" class="all-rounded" style="width: <%=@service_user.percentage_of_weekly_budget_used()%>%"><span><%=@service_user.percentage_of_weekly_budget_used()%>%</span></div>
</div>


<div class="greyButtonSmall">
  <a href="/service_users/show_edit_or_delete?service_user_id=<%=@service_user.id()%>">Edit or delete account</a>
</div>


  <a href="/service_users/show_search_options?service_user_id=<%=@service_user.id()%>">SEARCH FOR A WORKER</a>


  <div class="profile-page">


      <p>Next visits:</p>
      <% for visit in @service_user.visits() %>
      <% while CheckDate.is_in_past?(visit.get_database_visit_date(), visit.get_database_visit_time()) %>
      <% visit.increase_date_by_a_week() %>
      <% end %>
        <p><%=visit.get_details_for_service_user()%> approved = <%=visit.approved()%></p>
        <% end %>

      <p>Your workers:</p>
      <% for worker in @service_user.workers() %>
        <a href="/workers/view?worker_id=<%=worker.id()%>&service_user_id=<%=@service_user.id()%>"><%=worker.name()%></a>
        <% end %>
    </div>
