<h1><%= @service_user.name() %></h1>
<h2>Weekly Budget: £<%= @service_user.weekly_budget() %></h2>

<a href="/service_users/<%=@service_user.id%>/edit">EDIT</a>

<form action="/service_users/<%=@service_user.id%>/delete" method="POST">
  <input type="submit" value="DELETE">
</form>

<form action="/workers/search_results/<%=@service_user.id()%>/fuzzy_search" method="POST">
  <label for="search-bar">Search:</label>
  <input id="search-bar" name="query"type="text"/>
  <input type="submit" value="SEARCH">
</form>

<form action="/workers/search_results/<%=@service_user.id()%>/specific" method="POST">

  <input type="radio" name="gender" value="m">Male<br>
  <input type="radio" name="gender" value="f">Female<br>
  <input type="radio" name="gender" value="a">any<br>

  <!-- <input type="radio" name="can-drive" value=true>CAN drive<br>
  <input type="radio" name="can-drive" value=false>CANNOT drive<br> -->

  <input type="submit" value="SEARCH FOR THESE CRITERIA">
</form>

<p>Next visit:</p>
<% for visit in @service_user.visits() %>
<% while CheckDate.is_in_past?(visit.get_database_visit_date(), visit.get_database_visit_time()) %>
<% visit.increase_date_by_a_week() %>
<% end %>
  <p><%=visit.get_details()%></p>
  <% end %>
