<h1><%= @service_user.name() %></h1>
<h2><%= @service_user.weekly_budget() %></h2>

<a href="/service_users/<%=@service_user.id%>/edit">EDIT</a>

<form action="/service_users/<%=@service_user.id%>/delete" method="POST">
  <input type="submit" value="DELETE">
</form>

<form action="/workers/search_results/<%=@service_user.id()%>" method="POST">
  <label for="search-bar">Search:</label>
  <input id="search-bar" name="query"type="text"/>
  <input type="submit" value="SEARCH">
</form>
